{# <!-- 
# Project 3
# Mohini Salunke
# Red ID: 822049248 -->
<!-- Content file for about page displaying name and email  --> #}

{% extends 'layout.twig' %}
{% block content %}
<div class="site-about">
          <div class = "about-top">
               <h1> About Aztec Game Studios</h1>
               <h3> Inspire the world to play</h3>
               <br><br>
               <h3> Name: Mohini Salunke</h3>
               <h3> Email: mohinims22@gmail.com </h3>
          </div>
</div>
{% endblock %}
