{# 
# Project 3
# Mohini Salunke
# Red ID: 822049248 
 Home page for the website 
 Extends the layout.html which contains the header and footer for the website  #}
{% extends "layout.twig" %}

{% block content %}
{# <!-- Home page content  --> #}
<div class="site-main">
     <div class = "bgimage">
          <img class ="img1" src="/images/bgimg.jpeg" alt="Star Wars">
     </div>
     <div class = "text-overlay">
          <p class = "text_overlay"> Striving to deliver world class experience. Now available worldwide.</p>
     </div>
     <p class="validityCheck" id = "validityCheck"></p>
</div>
{% endblock %}